*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
h1,h2,p,input{
    margin-left: 2.5rem;
}
h2{
    color: #333333;
    line-height: 1.9em;
    padding: 0.4rem 0;   
    font-size: 1.3em;
    width: clamp(18ch,50%,40ch);
    font-weight: 500;
}
p{
    width: clamp(35ch, 50%, 75ch);
    line-height: 1.7em;
    font-size: 0.9em;
    padding: 0.4rem 0;
    font-weight: 300;
}
.logo{
    font-family: 'Antonio', sans-serif;
}
.links{
    display: none;
    color: #ffffff;
    text-decoration: none;    
}
.nav{
    display: flex;
    padding: 0.4rem;
    min-width: 100%;   
    justify-content: space-between;
    .burger {
        width: 2rem;
        cursor: pointer;
        padding-top: 0.2rem ;
        margin-right: 3rem;
    }
}

.query{
    background: #2D9CDB;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.hero-img{
    border-radius: 2rem;
    width: 100%;
    padding: 0.9rem;
    height: 25vh;
    aspect-ratio: 16/9;
    image-resolution: 720p;
    size: contain;
}
.hero-after{
    width: 15ch;
}
.contact{
    height: 15vh;
    p{
        font-size: 0.7em;
        color: #3f3d3d;
    }
    div{
        position: relative;
        &::after{
            content: "Join";
            background: #2D9CDB;
            border-radius: 1rem;
            height: 2rem;
            display: block;
            width: 4rem; 
            text-align: center;
            color: white;
            padding: 0.2rem 0 0 0;
            position: absolute;  
            top: -3%;
            left: 52%;     
            cursor: pointer;
        }
    }
    input{
        width: 11rem;
        height: 2rem;
        border: none;
        border-radius: 1rem;
        padding: 1rem;
        background: rgba($color: #a5a1a1, $alpha: 0.4);
        position: relative;
        &:focus-visible{
            outline: none;
        }
    }
}
.card-title{
    font-weight: 700;
}
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 1rem;
    .card{
        padding: 1rem;
        margin-left: 1.5rem;
        margin-top: 0.6rem;
        margin-bottom: 1.7rem;
        width:290px;
        height: 340px;
        border-radius: 1rem;
        box-shadow: 3px 4px 10px 1px rgba(0,0,0,0.3);
        .card-img{
            width: 6rem;
            margin-bottom: 0.2rem;
        }
        h2,p,input{
            margin-left: unset;
            margin-bottom: 0.2rem;
        }
        p{
            color:#4F4F4F;
            line-height: 1.4rem;
            font-weight: 400;
            width: 32ch;
        }
        input{
            padding: 0.5rem;
            color: #ffffff;
            border: none;
            border-radius: 1rem;
            background: rgba(139, 139, 139, 0.692);
            cursor: pointer;
        }
    }
}

.works{
    display: grid;
    
    .work{
        padding: 1rem 0;
        width: 50vw;
        h6,h4{
            margin-left: 1.5rem;
        }
        .work-img{
            width: 22rem;
            padding: 1rem;
            border-radius: 1.5rem;
        }
        h6{
            font-weight: 200;
            line-height: 1.5rem;
            color: #4F4F4F;
            font-size: 0.78rem;
        }
        h4{
            font-weight: 500;
            line-height: 1.7rem;
        }
    }
}
.more{
    float: right;
    margin-right: 2rem;
    cursor: pointer;
}
.team{
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 0.7fr));
    .team-info{
        .team-title{
            color: rgb(247, 72, 8);
            font-weight: 300;
            line-height: 0.4rem;
            margin-left: 2.5rem;
            font-size: 0.85rem;
        }
        .team-desc{
            width: 12ch;
            line-height: 2.1rem;
        }
        p{
            width: 23ch;
            line-height: 1.4rem;
            font-weight: 300;
            color: rgba($color: #000000, $alpha: 0.9);
        }
    }
    .team-images{
        display: flex;
        .img-left{
            width: 10rem;
            margin-right: 1.3rem;
            transform: translate(7%,17%);
            img{
                width: 10rem;
                border-radius: 1.2rem;
            }
        }
        .img-right{
            flex: 2;
            display: flex;
            flex-direction: column;
            .img-top{
                width: 8.6rem;
                border-radius: 1.2rem;
                margin: 0.5rem;
            }
            .img-btm{
                width: 9.6rem;
                border-radius: 1.2rem;
                margin: 0.5rem;
            }
        }
    }
}
.comments{
    margin-top: 3rem;
    h2{
        margin-left: unset;
        width: 22rem;
        font-weight: 500;
        padding: 0.5rem;
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
    .author{
        display: flex;
        padding: 1rem;
        .author-photo{
            width: 6rem;
            border-radius: 1rem;
            margin-right: 3rem;
        }
        .author-name{
            h2{
                font-size: 1.5rem;
                transform: translate(-3%,3%);
            }
            h4{
                font-size: 0.8rem;
                color: #4F4F4F;
                font-weight: 500;
            }
        }
    }
    margin-bottom: 7rem;
}
footer{
    background: #100E1D;
    padding-bottom: 5rem;
    .links{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        a{
            color: #fff;
            padding-bottom: 0.4rem;
            text-decoration: none;
            font-size: 1.1rem;
        }
    }
    .logo{
        color: #fff;
        margin-left: unset;
        padding: 0.5rem 2rem;
    }
    .social{
        padding: 1.5rem;
        img{
            padding: 0.5rem;
            cursor: pointer;
        }
    }
    .contact{
        margin-top: 2rem;
        transform: translateX(-1.5%);
        p, div input{
            color: #fff;
        }
    }

}

// Responsive growth
@media  screen and(min-width:500px) {
    .contact{
        input{
            width: 20rem;
        }
    }
    .team-info{
        transform: translateY(10%);
    }
    .img-left {
        img{
            width: 12rem;
            transform: translateX(-10%);
        }
    }
    .img-btm{
        width: 10rem;
    }
    .img-top{
        width: 9rem;
    }
    .hero-img{
        height: 30%;
    }
    .works{
        grid-template-columns: repeat(2,minmax(400px,1fr));
        justify-content:space-around;
    }
    .lower{
        transform: translate(12%,10%);
        float: inline-end;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .socials{
            padding-top: 2rem;
        }
        .contact input{
            width: 45%;
        }
    }
    .comments {
        h2{
        width: 40ch;
        padding: 2rem;
        font-size: 2rem;
        }
        .author{
            padding: 2rem;
        }
    }
    .author-title{
        transform: translate(2%,-6%);
    }
    .team{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and(min-width:1200px) {
    .comments h2{
        width: 50ch;
    }
    .team-info{
        margin-left: 3.5rem;
    }
    .team-images{
        margin-left: 6rem;
    }
    .contact div::after{
        left: 26%;
    }
    footer .contact div::after{
        left: 51%;
    }
    .comments{
        margin-left: 3.7rem;
    }
}
